@model List<ECommerceWebsiteMVC.Models.SanPham>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutNguoiMua.cshtml";
    var sanPhamHot = ViewBag.SanPhamHot as List<ECommerceWebsiteMVC.Models.SanPham>;
    var slides = sanPhamHot?
        .Select((sp, index) => new { sp, index })
        .GroupBy(x => x.index / 3)
        .Take(2)
        .ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link href="~/Content/style_SanPham.css" rel="stylesheet" />
    <title>Shopee</title>
</head>

<body>


    <div class="content">
        <img class="shape1" src="~/assets/shape1.png" alt="" />
        <img class="shape2" src="~/assets/shape2.png" alt="" />
        <img class="shape3" src="~/assets/shape1.png" alt="" />
        <img class="shape4" src="~/assets/shape2.png" alt="" />

        <div class="container">
            <!-- carousel -->
            <div class="row wrap-carousel">
                <div class="col-8 h-100 pr-1">
                    <div id="carouselExampleIndicators"
                         class="carousel slide h-100"
                         data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators"
                                data-slide-to="0"
                                class="active"></li>
                            <li data-target="#carouselExampleIndicators"
                                data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators"
                                data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner h-100">
                            <div class="carousel-item active h-100">
                                <img src="~/assets/3.png"
                                     class="d-block w-100 h-100"
                                     alt="..." />
                            </div>
                            <div class="carousel-item h-100">
                                <img src="~/assets/4.png"
                                     class="d-block w-100 h-100"
                                     alt="..." />
                            </div>
                            <div class="carousel-item h-100">
                                <img src="~/assets/5.png"
                                     class="d-block w-100 h-100"
                                     alt="..." />
                            </div>
                        </div>
                        <a class="carousel-control-prev"
                           href="#carouselExampleIndicators"
                           role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon"
                                  aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next"
                           href="#carouselExampleIndicators"
                           role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon"
                                  aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-4 h-100 pl-0">
                    <div class="h-50">
                        <img class="w-100 h-100" src="~/assets/6.png" alt="" />
                    </div>
                    <div class="h-50 pt-1">
                        <img class="w-100 h-100" src="~/assets/7.png" alt="" />
                    </div>
                </div>
            </div>
            <!-->san pham noi bat</!-->
            <div class="row mx-0 mt-4" style="background-color: #ffffff">
                <div class="d-flex flex-column w-100 pt-4 pb-2">

                    <div class="d-flex justify-content-between w-100 px-4 pb-2">
                        <h4 style="color: #888">Sản phẩm nổi bật</h4>
                        <div class="d-flex align-items-center" style="color: #f53d2d">
                            <span> xem tất cả </span>
                            <span class="h4 mb-0 ml-2">></span>
                        </div>
                    </div>

                    <div id="carouselExampleControls3"
                         class="carousel slide"
                         data-ride="carousel"
                         style="height: 300px">

                        <div class="carousel-inner h-100">

                            @if (slides != null)
                            {
                                int slideIndex = 0;

                                foreach (var slide in slides)
                                {
                                    <div class="carousel-item h-100 @(slideIndex == 0 ? "active" : "")">
                                        <div class="row h-100 mx-0" style="border-top: 2px solid #f2f2f2">

                                            @foreach (var item in slide)
                                            {
                                                var sp = item.sp;
                                                //var macdinh = sp.AnhSanPhams
                                                //    .Where(x => x.MacDinh)
                                                //    .Select(x => x.HinhAnh)
                                                //    .FirstOrDefault()
                                                //    ?? sp.AnhSanPhams.Select(x => x.HinhAnh).FirstOrDefault();
                                                var macdinh = sp.AnhSanPhams
.Where(x => x.MacDinh == true)
.Select(x => x.HinhAnh)
.FirstOrDefault()
?? sp.AnhSanPhams.Select(x => x.HinhAnh).FirstOrDefault();
                        <div class="col-4 h-100 pt-4" style="border-right: 2px solid #f2f2f2">
                            <a href="@Url.Action("ChiTietSanPham", "SanPham", new { id = sp.MaSanPham })"
                               class="text-decoration-none">

                                <div class="d-flex w-100" style="height: 87%">
                                    <div class="h-100 mr-2" style="width: 60%">
                                        <img class="w-100 h-100"
                                             loading="lazy"
                                             src="https://ecommerceshopstorage.blob.core.windows.net/products/@sp.MaSanPham/@macdinh"
                                             alt="@sp.TenSanPham" />
                                    </div>

                                    <div class="h-100" style="width: 40%">
                                        <div style="height: 48%">
                                            <img class="w-100 h-100"
                                                 src="https://ecommerceshopstorage.blob.core.windows.net/products/@sp.MaSanPham/@macdinh"
                                                 alt="" />
                                        </div>
                                        <div class="mt-2" style="height: 48%">
                                            <img class="w-100 h-100"
                                                 src="https://ecommerceshopstorage.blob.core.windows.net/products/@sp.MaSanPham/@macdinh"
                                                 alt="" />
                                        </div>
                                    </div>
                                </div>

                                <span class="position-relative h5"
                                      style="color: #888; top: 10px">
                                    @sp.TenSanPham
                                </span>
                            </a>
                        </div>
                    }

                                        </div>
                                    </div>

                                    slideIndex++;
                                }
                            }
                        </div>

                        <a class="carousel-control-prev"
                           href="#carouselExampleControls3"
                           role="button"
                           data-slide="prev">
                            <img src="~/assets/222.png"
                                 style="width: 50px; left: -90px; position: relative" />
                        </a>

                        <a class="carousel-control-next"
                           href="#carouselExampleControls3"
                           role="button"
                           data-slide="next">
                            <img src="~/assets/333.png"
                                 style="width: 50px; right: -90px; position: relative" />
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--===================================================================================-->
    <div class="container py-4" style="margin-top: 80px;">

        <h5 class="mb-3">Danh sách sản phẩm</h5>

        <div class="row">
            @*<div class="container py-4" style="margin-top: 80px;">

                @if (!string.IsNullOrEmpty(ViewBag.Keyword))
                {
                    <h5 class="mb-3">
                        Kết quả tìm kiếm cho: <strong>@ViewBag.Keyword</strong>
                    </h5>
                }
                else
                {
                    <h5 class="mb-3">Danh sách sản phẩm</h5>
                }

                <div class="row">*@


            <!-- ====================== SIDEBAR BÊN TRÁI ====================== -->

            <div class="col-12 col-md-3">
                @Html.Action("Sidebar", "DanhMuc", new { id = ViewBag.DanhMucDangChon })

            </div>

            <!-- ====================== DANH SÁCH SẢN PHẨM ====================== -->
            <div class="col-12 col-md-9">

                <div class="row g-3" id="product-list">

                    @foreach (var item in Model)
                    {
                        var macdinh = item.AnhSanPhams
                            .Where(x => x.MacDinh == true)
                            .Select(x => x.HinhAnh)
                            .FirstOrDefault()
                            ?? item.AnhSanPhams.Select(x => x.HinhAnh).FirstOrDefault();

                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product-card">

                                <div class="product-img-wrapper">
                                    <a href="@Url.Action("ChiTietSanPham", "SanPham", new { id = item.MaSanPham })">
                                        @*<img src="~/Images/Products/@item.MaSanPham/@macdinh" />*@
                                        @*<img src="@($"https://raw.githubusercontent.com/vawntien/ECommerceWebsite/master/Images/Products/{item.MaSanPham}/{macdinh}")" />*@
                                        <img src="@($"https://ecommerceshopstorage.blob.core.windows.net/products/{item.MaSanPham}/{macdinh}")" />









                                    </a>
                                </div>

                                <div class="product-body">
                                    <div class="product-title">@item.TenSanPham</div>

                                    <div class="mt-1">
                                        <span class="product-price">
                                            @*@String.Format("{0:N0}đ", item.Gia)*@
                                        </span>
                                    </div>


                                    <div class="product-meta d-flex justify-content-between mt-1" style="font-size:11px;color:#777;">
                                        <span>@item.SoSaoTrungBinh</span>
                                        <span>Đã bán 3,5k @item.LoaiPhanLoai</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }

                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-4">
            <button id="btnLoadMore"
                    class="btn btn-outline-danger px-5 py-2">
                Xem thêm
            </button>
        </div>
    </div>


    @section Scripts {
        <script>
            let skip = 24;
            let isLoading = false;

            $(function () {
                $('#btnLoadMore').on('click', function () {
                    if (isLoading) return;
                    isLoading = true;

                    $('#btnLoadMore').text('Đang tải...');

                    $.ajax({
                        url: '/NguoiMua/LoadMoreProducts',
                        type: 'GET',
                        data: { skip: skip },
                        success: function (html) {
                            if (!html || html.trim() === '') {
                                $('#btnLoadMore')
                                    .text('Đã hết sản phẩm')
                                    .prop('disabled', true);
                            } else {
                                $('#product-list').append(html);
                                skip += 24;
                                $('#btnLoadMore').text('Xem thêm');
                            }
                        },
                        complete: function () {
                            isLoading = false;
                        }
                    });
                });
            });
        </script>
    }




    <!--===================================================================================-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</body>
</html>

